/* todo:
    - desktop view position underneath dropdown
    - fix tablet / desktop dropdown modal functionality - currently only works once


*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 a {
   -webkit-tap-highlight-color: transparent;
}

.block {display: block !important}

.box{
  position: relative;
}

.nav-container {
  background-color: rgba(37, 66, 96, 1);
  height: 60px;
  position: relative;
}
.listcontainer {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgb(65, 104, 143);
  z-index: 1;
  top: 100%;
  padding: 10px;
}

@keyframes slideOut {
 from{
   margin-left: -100%;

 }
  to{
    margin-right: 0;

  }
}@keyframes slideIn {
 from{
   margin-right: 0;

 }
  to{
    margin-left: -100%;

  }
}
.slideOut{
  animation: slideOut 400ms forwards;
}
 .slideIn{
   animation: slideIn 400ms forwards;
 }


.listcontainer a {
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.droplist{
  list-style:none;
  transform: translateY(30%);
}

.hamburger {
  display: block;
  height: 800px;
}
.navbar {
  min-width: 100%;
  height:100vh;
  display: none;
  z-index: 0;
  background: rgba(37, 66, 96, 1);
  text-align: center;
  list-style-type: none;
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
  box-shadow: 10px 5px 5px rgb(121, 119, 119);
  padding-top:5rem;
}
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

li a{
  display: block;
  position: relative;
  color: rgb(231, 236, 241);
  text-decoration: none;
  font-size: 1.7em;
  line-height: 1.7em;
  border-radius: 0.5em;
}

 .listcontainer a:active,  .navbar a:active{
  background:none;
  text-decoration: underline;
}

/* Hamburger icon */
.fa {
  color: white;
  top: 0;
  left: 0;
  font-size: 2.5em;
  margin: 0.6rem;
}

/* Modal close icon */
.mclosebtn {
  color: white;
  top:0;
  right: 0;
  margin: 8px 8px 0 0;
  text-decoration: none;
  display: none;
  position: absolute;
}

/* Close icon hamburger  */
.icon-close {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.icon-close::after {
  content: "X";
  font-size: 1.5em;
}

/*************** Media Queries **************/

/* Tablet */
@media screen and (min-width: 40em){
  li{
    position: relative;
  }
  .navbar {
    max-height: 60px;
    display: flex;
    box-shadow: none;
    justify-content: center;
    padding-top: 0;
  }

  .navbar > li {
    margin-right: 1rem;

  }

  li a{
    font-size: 2em;
    width: 100%;
    margin: 0;
  }


  .listcontainer {
    opacity: 0.95;
    padding: 0;
    background: none;
    top:3.75em;
    margin-top: 0;
    width: 100%;
  }


  @keyframes slideDown {
    from{
      margin-top: -100%;

    }
    to{
      margin-bottom: 0;

    }
  }
  @keyframes slideUp {
    from{
      margin-bottom: 0;
    }
    to{
      margin-top: -180%;
    }
  }

  .slideDown{
    animation: slideDown 400ms forwards;
  }
  .slideUp{
    animation: slideUp 400ms forwards;
    margin-top: 0;
  }

  .content h1{
    text-align: center;
    padding: 2px;
  }
  .droplist{
    transform: translateY(0);

    margin: 0;
    position: relative;
  }
  .droplist li a{
    margin-bottom: 0;
    padding: 4px;
  }
  .droplist li{
    padding: 4px;
    margin:0;


  }
  .icon {
    display: none;
  }
  .icon-close {
    display: none;
  }

  .listcontainer li {
    display: block;
    position: relative;
    font-size: 1em;
    background: rgba(37, 66, 96, 1);
    border-radius: 0;
    /*padding: 10px 14px;*/
    max-height: 20em;
  }


  .mclosebtn {
    top: 0.25em;
    color: white;
    right: 0.25em;
    padding: 1px;
    position: absolute;
    background: none;
    transform: rotate(90deg);
  }
}

.nav a:hover{
  background-color: rgb(66, 73, 87);
  transition: all 0.5s ease-in-out;
}



/* Desktop and up */
@media screen and (min-width: 64em) {
.listcontainer{
  left: 45%;
  margin-left: 0;
}




}



